<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nengneng.appstore.mapper.AppMapper">
 
  <select id="findAppInfo" resultType="com.nengneng.appstore.model.App">
    select id, name,description,icon,zipfile,version from t_app where id=1;
  </select>
   <select id="findAllApp" resultType="com.nengneng.appstore.model.App">
    select id, name,description,icon,zipfile,version from t_app;
  </select>
</mapper>